body {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 100vh;
  border: 2px solid black;
}

.left-scoreboard,
.right-scoreboard {
  width: 360px;
  border: 2px solid green;
}

.player1-header,
.player2-header,
.player1-win-counter,
.player2-win-counter,
.display-announcements {
  text-align: center;
  font-size: 40px;
  border: 2px solid magenta;
}

.display-announcements {
  margin-top: 80px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 390px;
  height: 360px;
  margin-top: 70px;
  border: 2px solid blue;
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  cursor: pointer;
  border: 2px solid gray;
}
